.HomePageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; 

}

.HeaderContainer {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;

}

.HeaderContentName {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.HeaderContent {
  margin-left: 20px;
  text-decoration: none;
}

.HeaderContent:hover {
  text-decoration: underline;
}

.MainContainer {
  display: flex;
  margin-top: 42px; 
}


.ContentContainer {
  margin-left: 15%;
  display:flex ;
  /* padding: 20px; */
  overflow-y: auto; 
  height: 100%; 
  /* width: 70%; */
}
