.movie-card {
    border: 1px solid black;
    height: 420px; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    overflow: hidden; 
    padding: 10px;
  }
  
  .movie-image {
    height: 300px;
    width: 100%;
    object-fit: cover; 
  }
  
  .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center; 
    overflow-wrap: break-word; 
  }
  
  .movie-name, .movie-year, .movie-type, .movie-rating {
    margin: 3px 0; 
    width: 100%; 
    word-wrap: break-word; 
  }
  